snippet err "if err != nil" b
if err != nil {
	return ${1:err}
}
endsnippet

snippet func "function" b
func ${1:functionName}(${2}) ${3}{
}
endsnippet

snippet rec "Receiver method" b
func (${1:instance} ${2:type}) ${3:function}(${4:arguments}) ${5:return} {
	${0}
}
endsnippet

snippet if "if statement" b
if ${1:condition} {
	${0}
}
endsnippet

snippet println "Description" b
print("${0}\n")
endsnippet
