snippet let "let in end" b
let
  ${1}
in
  ${0}
end
endsnippet

snippet case "case of" b
case ${1}
  of ${2}
   | ${0}
endsnippet

snippet if "if then else" b
if ${1} then
  ${2}
else
  ${0}
endsnippet

snippet raise "raise Fail todo"
raise Fail "TODO"
endsnippet
